.App{
  text-align: center;
  margin: auto;
}
.form-row{
  margin: 10px;
  font-size: 20px;
}
.form-row label{
  width: 20%;
}
.form-row input[type=text],.form-row textarea, .form-row input[type=email]{
  width: 200px;
  border: 1px solid dodgerblue;
  margin-left: 10px;
  border-radius: 4px;
  outline: none;
  padding: 5px;
}
.form-row input[type=submit]{
  font-size: 25px;
  border: none;
  background-color: white;
  color: dodgerblue;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
  outline: none;
}